 body {
  /*https://www.southamerica.travel/Brazil-Tours/Iguassu-Golf-Brazil-Oktoberfest-Tour/ */
  /* background-color: rgba(255, 0, 0, 0.5);
  background: url('asia.jpg') no-repeat;
  background-size: cover; */
  color: white;
  color: #fff;
  margin: 0;
  padding: 0;
  /* perspective: 1px; */
  /* transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Luna"; */
/* SLiding background */

}

#aboutUs {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
}

#homePage {
  background: url(asia.jpg);
  height: 100%;
  width: 100%;
}
/* Centered text */
/* .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    transform: translate(-50%, -50%);
} */

.right{
  float: right;
}

.left{
  float: left;
}

ul {
  position:relative;
  z-index:9999;
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul li {
  float: left;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: 0px;
}

ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  display: block;
}

ul li a:hover {
  background-color: #f7f7f7;
}
ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
  margin-right: 0px;
}

.container
{
	width: 100%;
	position: relative;
	overflow-x: hidden;
}
.slider
{
	position: relative;
	width: 500%;
	animation: animate 20s linear infinite;
}

.slideText {
  margin: 0;
  padding: 0;
  /* position:absolute; */
  top: 50px;
  /* transform: translateY(-50%); */
  /* text-align: center;
  font-size: 2em; */

  /* width: 100%;
  height: 20%; */
  /* background: rgba(0,0,0,.6); */
  /* color: #fff; */
  font-family: cursive;
	text-align: center;
	color: white;
	font-size: 100px;
}
.slide {
	position: relative;
	width: 20%;
	float: left;
	height: 100vh;
}

.slide{
	background-size: cover;
}
.slide:nth-child(1) {
	/*https://www.gonomad.com/2245-a-young-adults-trip-to-kenya*/
	background: url(venice.jpg);
}
.slide:nth-child(2) {
	/*https://blog.constancehotels.com/discover-stunning-landscapes-madagascar/*/
	background: url(egypt.jpg);
}
.slide:nth-child(3) {
	/*https://digitalgallery.co.za/desjacobs/south-african-landscapes.php*/
	background: url(ggbridge.jpg);
}
.slide:nth-child(4) {
	/*https://wsimag.com/economy-and-politics/19113-morocco-developments-towards-the-future*/
	background: url(asiya.jpg);
}
.slide:nth-child(5) {
	/*https://www.tes.com/lessons/hloFhkrxw_OpiQ/egyptian-landscapes*/
	background: url(sydney.jpg);
}

@keyframes animate {
	0%{
		left:0;
	}
	16%{
		left:0;
	}
	20%{
		left:-100%;
	}
	30%{
		left:-100%;
	}
	36%{
		left:-100%;
	}
	40%{
		left:-200%;
	}
	56%{
		left:-200%;
	}
	60%{
		left:-300%;
	}
	76%{
		left:-300%;
	}
	80%{
		left:-400%;
	}
	96%{
		left:-400%;
	}
	100%{
		left:-0;
	}
}


.center {
    display: block;
    margin-top: 0.5%;
    margin-left: 10%;
    margin-right: auto;
    width: 50%;
    height: 10%;
}

.navbar {
  position:absolute;
  top: 0px;
  right: 30px;
}

#myLogo {
  position:absolute;
  top: 0;
  left: 0;
  margin-left: 10%;
  width: 5%;
  height: 7%;
}

/* For the About Us page */
h1 {
  margin-top: 5%;
  text-align: center;
  color: brown;
  font-family: 'Merriweather', serif;
  font-size: 40px;
}

h2 {
  /* margin-top: 20%; */
  text-align: center;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 30px;
}

.info {
  text-align: center;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

.darkInfo {
  text-align: center;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

.darkInfoH1 {
  text-align: center;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 30px;
}

/*For the About Us page */
#underText {
  text-align: center;
  font-size: 30px;
  font-family: 'Times New Roman', sans-serif;
}

/* Main Page slogan */
#slogan {
  /* text-align: center; */
  color: black;
  font-size: 40px;
}

#sloganUnderText {
  /* text-align: center; */
  color: #000033;
  font-size: 30px;
}

.letter {
    text-align: center;
    color: lightblue;
    position: relative;
    top: 10px;
    text-shadow: 0px 0px 3px black;
    font-size: 30px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}
.letter:nth-child(1) {
    text-align: center;
    animation: fade 5s infinite 200ms;
}
.letter:nth-child(2) {
    text-align: center;
    animation: fade 5s infinite 400ms;
}
.letter:nth-child(3) {
    text-align: center;
    animation: fade 5s infinite 600ms;
}
.letter:nth-child(4) {
    text-align: center;
    animation: fade 5s infinite 800ms;
}
.letter:nth-child(5) {
    margin-left: 20%;
    text-align: center;
    animation: fade 5s infinite 1000ms;
}
.letter:nth-child(6) {
    text-align: center;
    animation: fade 5s infinite 1200ms;
}
.letter:nth-child(7) {
    text-align: center;
    animation: fade 5s infinite 1400ms;
}
.letter:nth-child(8) {
    animation: fade 5s infinite 1600ms;
    text-align: center;
}
.letter:nth-child(9) {
    text-align: center;
    animation: fade 5s infinite 1800ms;
}
.letter:nth-child(10) {
    text-align: center;
    animation: fade 5s infinite 2000ms;
}
.letter:nth-child(11) {
    text-align: center;
    animation: fade 5s infinite 2200ms;
}
.letter:nth-child(12) {
    text-align: center;
    animation: fade 5s infinite 2400ms;
}
.letter:nth-child(13) {
    text-align: center;
    animation: fade 5s infinite 2600ms;
}
.letter:nth-child(14) {
    text-align: center;
    animation: fade 5s infinite 2800ms;
}
.letter:nth-child(15) {
    text-align: center;
    animation: fade 5s infinite 3000ms;
}
.letter:nth-child(16) {
    animation: fade 5s infinite 3200ms;
}
.letter:nth-child(17) {
    animation: fade 5s infinite 3400ms;
}
.letter:nth-child(18) {
    animation: fade 5s infinite 3600ms;
}

@keyframes fade {
50% {
   opacity: 0.02;
  }
}

/* Any paragraph */

p {
  color: black;
}
/* #square {
  margin:auto;
  width:1000px;
  height: 500px;
  background-color: black;
  opacity: 0.4;
  padding: 10px;
} */

/*For the different about us content */
.about {
  text-align: left;
  color: black;
  font-family: 'Times New Roman', serif;
  font-size: 25px;
}

.us {
  text-align: left;
  color: black;
  font-family: 'Merriweather', serif;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.bigAbout {
  text-align: center;
  color: black;
  font-family: 'Times New Roman', serif;
  font-size: 30px;
}

/*parallax effect */

.img2 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;

  background-attachment: fixed;
}

/* .img1 {
  opacity: 0;
  background-image: url('asia.jpg');
  background-size: cover;
  min-height: 60%;
} */

.img2 {
  background-image: url('australia-sunset.jpg');
  background-size: cover;
  min-height: 100%;
}

/* parallax effect */
.img3, .img4, .img5, .img6  {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

.img3 {
  background-image: url('Travel_to_venice.jpg');
  background-size: cover;
  min-height: 100%;
}

/* https://www.tripadvisor.com/LocationPhotoDirectLink-g187870-d1320403-i151790955-Ai_Mercanti-Venice_Veneto.html */
.img4 {
  background-image: url('ristorante_venice.jpg');
  background-size: cover;
  min-height: 100%;
}

/* http://www.touropia.com/tourist-attractions-in-venice/ */
.img5 {
  background-image: url('tourist_venice.jpg');
  background-size: cover;
  min-height: 100%;
}

/* https://www.creativesafetysupply.com/floor-sign/caution-yield/ */
.img6 {
  background-image: url('venice.jpg');
  background-size: cover;
  min-height: 100%;
}

/* parallax effect */
.img7, .img8, .img9, .img10  {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

.img7 {
  background-image: url('Travel_to_london.jpg');
  background-size: cover;
  min-height: 100%;
}

.img8 {
  background-image: url('londonBridge.jpg');
  background-size: cover;
  min-height: 100%;
}

.img9 {
  background-image: url('londonEye.jpg');
  background-size: cover;
  min-height: 100%;
}

.img10 {
  background-image: url('london.jpg');
  background-size: cover;
  min-height: 100%;
}

.section{

  padding: 50px 80px;
}

/* Color of the two sections */

.section-light {
  background-color: #f4f4f4;
}

.section-dark {
  background-color: #dfd4fc;
}

.darkInfo {
  text-align: center;
  color: black;
  font-family: 'Times New Roman', serif;
  font-size: 30px;
}
.darkInfo1 {
  text-align: center;
  color: black;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
}
.lightInfoH1 {
  text-align: center;
  color: black;
  font-family: 'Times New Roman', serif;
  font-size: 30px;
}

.lightInfo {
  text-align: center;
  color: black;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
}
